page-benevole-form {

	.scroll-content{
		background-color: color($colors, primary);
	}


    p, h3,h4{
        margin:10px;
        color:color($colors, light);
    }

    h3{
        margin-top: 30px !important;
    }

    p{
        font-size: 1.09em;
    }

    .bloc-image{
        ion-icon{
            position: absolute;
            font-size: 7.2em;
            text-shadow: 2px 3px 2px #333;
            top:27%;
            left: 45%;
            color:color($colors, light);
        }
    }
}
