page-objectifs {
	#objectives {
		margin-top: 78px !important;
	}
	div.vc_tta-panel {
		position: relative;
		-webkit-box-shadow: 0 1px 4px rgba(99, 49, 142, 0.3), 0 0 40px rgba(99, 49, 142, 0.1) inset;
		-moz-box-shadow: 0 1px 4px rgba(99, 49, 142, 0.3), 0 0 40px rgba(99, 49, 142, 0.1) inset;
        box-shadow: 0 1px 4px rgba(99, 49, 142, 0.3), 0 0 40px rgba(99, 49, 142, 0.1) inset;
		margin-bottom: 25px;
		padding: 16px;
	}
	
}
